:root{
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
    }
body{
    background-color: var(--Very-Dark-Blue);
    
}
.background{
    background-image: url(./images/bg-desktop-dark.jpg);
}
.enter-todo input{
    background-color: var(--Very-Dark-Desaturated-Blue);
}
.tasks-content{
    background-color: var(--Very-Dark-Desaturated-Blue);
    color: var(--Light-Grayish-Blue);
}
.task{
    border-bottom: 1.5px solid var(--Very-Dark-Grayish-Blue);
}
.item p.checked{
   color: var(  --Very-Dark-Grayish-Blue);
}
 /* footer styles */
 .footer{
    color: var(  --Very-Dark-Grayish-Blue);  
}
.items-left:hover{
    color: var(--Light-Grayish-Blue);
 }
.clear-completed:hover{
    color: var(--Light-Grayish-Blue);
 }
   
.moon{
    opacity: 0;
}
.sun{
    opacity: 1;
}
.checkmark {
    border: 2px solid var(--Very-Dark-Grayish-Blue);
}


#mobile-filters{
    background-color: var(--Very-Dark-Desaturated-Blue);
    color: var(--Very-Dark-Grayish-Blue);
}
